/********************************************
Estilos generales fuentes
**********************************************/
html {
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

h1 {
  color: #CD2E3A;
  font-family: cursive;
  font-size: 3rem;
  padding: 1px 10px;
}

h2 {
  font-size: 2rem;
  padding-top: 4%;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  color: #333;
}

a {
  color: #0F64CD;
  text-decoration: none;
  font-family: 'Montserrat';
}

a :hover {
  color: #CD2E3A;
  text-decoration: none;
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.2rem;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 150%;
}


h2.text-center {
  color: #333;
  text-align: center; 
}


/********************************************
  Estilos contenedores
**********************************************/

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: white;
  overflow-x: hidden;
}

@media (max-width: 768px) {
body {
  height: 95%;
}
}


/* Estilos para el main */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}


.container {
  margin: 0 auto;
}


/* Estilos para contenedores más estrechos en desktop */
.content-limited-width {
  max-width: 800px;
  margin: 0 auto 3% auto;
  padding: 0 20px;
}

/* Estilos para mobile */
@media (max-width: 768px) {
  .content-limited-width {
    max-width: 95%;
    padding: 0 10px;
  }
}


/* Estilo básico para el espacio en blanco */
.espacio-en-blanco {
  height: 30px;
  width: 100%;
}




/********************************************
  Estilos header para la home y para el componenete header
  **********************************************/

/* Contenedor principal del header */
.header,
.header-container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow-x: hidden;
}


@media (max-width: 767px) {
  .header,
  .header-container-home {
    width: 100%;
  }
}

/* Estilos para la sección del logo */
.logo-header,
.logo-header-home {
  display: flex;
  align-items: center;
}

.logo-header .logo,
.logo-header-home img {
  max-height: 50px;
  margin-right: 10px;
  max-width: 60%;
}

.header-title,
.header-title-home {
  font-size: 1.2rem;
  color: #333;
  font-family: cursive;
  margin: 0;
}

/* Estilos del menú de navegación */
#main-menu,
#main-menu-home {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* overflow-x: hidden; */
}

#main-menu ul li,
#main-menu-home ul li {
  margin-right: 10px;
}

#main-menu ul li a,
#main-menu-home ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

#main-menu ul li a:hover,
#main-menu-home ul li a:hover {
  color: #0F64CD;
}

#main-menu ul li a.current,
#main-menu-home ul li a.current {
  color: #CD2E3A;
}


/* Estilos para el menú desplegable */
#main-menu-home ul li.dropdown {
  position: relative;
}


#main-menu-home ul li.dropdown:hover .submenu {
  display: block;
}

#main-menu-home ul li .submenu li {
  padding: 10px 5px;
}

#main-menu-home ul li .submenu li a:hover {
  background-color: #ddd;
}

.submenu {
  display: none;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.submenu.visible {
  display: block;
}

.header {
  overflow: visible;
}

.dropdown {
  position: relative;
}


/* Ubicación del submenú */
#main-menu-home ul li.dropdown {
  position: relative;
}

.header-container-home {
  overflow: visible;
  height: auto;
}


/* Estilos para los botones del menú */
.menu-toggle,
.close-btn {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1003;
}

.close-btn {
  position: absolute;
  top: 15px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
  z-index: 1004;
}

/* Media queries para tablet y móvil */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  header nav ul {
    display: flex;
  }

  #main-menu ul,
  #main-menu-home ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    align-items: center;
  }

  #main-menu-home ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    padding: 10px 0;
    width: 210px;
  }
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    right: 50px;
  }

  #main-menu ul,
  #main-menu-home ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 40px 20px;
    text-align: left;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: white;
    color: #333;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: transform 0.3s ease;
    z-index: 1000;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  }

  header nav ul.is-visible {
    display: flex;
    transform: translateX(0);
  }

  .close-btn {
    display: block;
  }

  header nav ul li a.current {
    color: #CD2E3A;
  }

  /* AJUSTAR Estilos para los submenús en móviles
    .submenu {
      display: block;
      flex-direction: column;
      width: 100%;
      padding-left: 20px;
    }
  
    .dropdown:hover .submenu,
    .dropdown:focus-within .submenu {
      display: flex;
    } */
}


/* Estilos para la imagen dentro del contenedor */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


/* Estilos para la imagen dentro del contenedor */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


/********************************************
  Estilos para el footer incluyendo la línea separadora que tiene transición de color
**********************************************/

.footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 160px;
  overflow: hidden;
  background-color: white;
  color: #333;
  text-align: left;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}


.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #CD2E3A, #0F64CD, #CD2E3A);
  background-size: 200% 100%;
  animation: shiftGradient 3s linear infinite;
  z-index: -1;
}

@keyframes shiftGradient {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer p {
  font-size: 0.8rem;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}


footer nav ul li a:hover {
  color: #0F64CD;
}

footer nav ul li a.current {
  color: #CD2E3A;
}

.logo-footer a img {
  width: 20%;
  transition: filter 0.5s;
}

.logo-footer a:hover img {
  filter: brightness(0.8) sepia(1) hue-rotate(-50deg);
}

@media (min-width: 769px) {
  .contact div {
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer nav,
  .footer div {
    width: 100%;
    margin-bottom: 10px;
  }
}


/*********************************************
  Animación skyline prefooter home
**********************************************/

#contenedor-texto-skyline {
  position: relative;
  width: 90%;
  margin: 1px auto 0px;
  background-color: white;
}

#skyline {
  width: 19%;
  top: 1px;
  animation: desplazamiento 80s linear infinite;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(200px);
  }

  50% {
    transform: translateX(500px);
  }

  75% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}


@media (max-width: 767px) {
  #contenedor-texto-skyline {
    display: none;
  }
}

/********************************************
  Estilos para la página home
**********************************************/

body.home-page {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
}

.home-page body {
  margin: 0px;
  overflow: hidden;
}



/********************************************
  Imagen gif dentro de texto título header home
**********************************************/
/* Estilos generales para .home-page */
.home-page {
  width: 100%;
  height: 100vh; /* Asegura que la sección ocupe toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative; /* Para posicionar el contenido sobre la imagen */
  overflow: hidden; /* Evita que se vea cualquier contenido fuera del contenedor */
}

/* Estilo para la imagen dentro del <picture> */
.home-page picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Estilo para el contenedor de texto */
.text-container {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px; /* Espaciado para dispositivos móviles */
}


/********************************************
  Imagen gif dentro de texto título header home
**********************************************/
/* Estilos generales para .home-page */
.home-page {
  width: 100%;
  min-height: 100vh; /* Ajustamos para que ocupe al menos la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: visible; /* Asegura que el contenido debajo sea accesible */
}

/* Estilo para la imagen dentro del <picture> */
.home-page picture {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Estilo para el contenedor de texto */
.text-container {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

/* Estilos del título */
.clipped-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: transparent;
  background-image: url("../img/tumblr_cbead511b250a0328f59d26a2febf727_fee8d347_500.gif");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

/* Media query para dispositivos grandes (min-width: 768px) */
@media (min-width: 768px) {
  div.home-page h1 {
    font-size: 2.4em;
  }

  .text-container {
    font-size: 2rem;
  }

  .clipped-text {
    font-size: 2.4em;
  }

  .image-column {
    overflow: hidden; 
  }
  
}

/* Media query para dispositivos móviles (max-width: 767px) */
@media (max-width: 767px) {
  div.home-page {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    min-height: 100vh; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 0;
  }

  div.home-page h1 {
    font-size: 1.5em;
    margin: 10px;
  }

  .text-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; 
  }

  .clipped-text {
    font-size: 6vw; 
  }
}


.highlight {
  color: #0F64CD;
  background-image: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #0F64CD;
}




/*********************************************
  Estilo contenido home
**********************************************/
.container-info {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
}

.container-info section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#intro-home {
  padding-top: 15%;
  padding-bottom: 5%;
}

@media (max-width: 767px) {
  #intro-home {
    padding-top: 15%;
    padding-bottom: 3%;
  }
}



#intro-home h2, 
#intro-home p {
  color: #333; 
  display: block; 
  visibility: visible; 
  opacity: 1; 
}


/* Estilo general para las filas */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
}

/* Columnas de imagen y texto */
.image-column,
.text-column {
  padding: 20px;
}

/* Configuración para dispositivos de escritorio */
.image-column {
  flex: 2; /* Ocupa 2/3 del ancho */
}

.text-column {
  flex: 1; /* Ocupa 1/3 del ancho */
}

/* Configuración específica para móviles */
@media (max-width: 768px) {
  .row {
    flex-direction: column; 
    align-items: center; 
  }

  .image-column,
  .text-column {
    flex: none; 
    width: 100%; 
    padding: 10px; 
  }

  .image-column {
    order: -1; 
  }

  .image-column picture img {
    width: 100%; 
    height: auto; 
    display: block; 
    max-width: 100vw; 
  }
  
  .image-column {
    overflow: hidden; 
  }
  

  .text-column {
    order: 1; /* El texto permanece debajo */
  }
}


/* Evita que otros <picture> se vean afectados */
.image-column picture {
  position: static; /* Desactiva el estilo absoluto que no aplica aquí */
}


/* Bloque de iconos home */
.icon-container {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.text-column {
  text-align: center;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: blue;
  transition: color 0.3s ease;
}

.icon-link svg {
  fill: currentColor;
  width: 60px;
  height: 60px;
}

.icon-link:hover {
  color: red;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .icon-container {
    flex-direction: column; 
    gap: 10px; 
    align-items: center; 
    width: 100%; 
  }

  .text-column {
    width: 100%; /* Cada columna ocupa el ancho completo */
  }
}




/********************************************
  Imagen interior home (específico para .image-container)
**********************************************/

/* Contenedor de la imagen */
.image-container {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

/* Estilo específico para imágenes en .image-container */
.image-container > picture {
  position: static !important; 
}

.image-container > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  display: block; 
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 767px) {
  .image-container {
    height: 200px; 
  }

  .image-container > picture img {
    object-fit: cover; 
    object-position: center; 
  }
}




/********************************************
  Estilo específico para .image-container-namsan
**********************************************/

/* Contenedor general */
.image-container-namsan {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden; /* Asegura que no haya desbordamientos */
}

/* Estilo específico para imágenes dentro de <picture> */
.image-container-namsan > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Configuración específica para móviles */
@media (max-width: 768px) {
  .image-container-namsan {
    height: 200px; 
  }

  .image-container-namsan > picture img {
    object-fit: cover;
    object-position: center;
  }
}

/* Asegura que no se aplique posición absoluta */
.image-container-namsan > picture {
  position: static !important; 
}


/*********************************************
  Estilo cita prefooter home
**********************************************/

/* Estilos para el contenedor que envuelve el blockquote y h4 */
.centrado-blockquote {
  border-left: 5px solid #CD2E3A;
  background-color: #f9f9f9;
  padding: 2% 4%;
  margin: 6% 6% 1% 6%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo general para blockquote */
.centrado-blockquote blockquote {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  font-style: italic;
  color: #333;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  position: relative;
}

/* Añado comillas decorativas usando pseudo-elementos */
.centrado-blockquote blockquote:before {
  content: open-quote;
  font-size: 3rem;
  color: #CD2E3A;
  line-height: 0.1rem;
  margin-right: 10px;
  vertical-align: -0.4rem;
}

.centrado-blockquote blockquote:after {
  content: close-quote;
  font-size: 3rem;
  color: #CD2E3A;
  line-height: 0.1rem;
  margin-left: 5px;
  vertical-align: -0.4rem;
}

/* Estilo para el h4 dentro del contenedor */
.centrado-blockquote h4 {
  font-size: 1rem;
  font-style: normal;
  color: #333;
  margin: 10px 0 0 0;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .centrado-blockquote {
    padding: 15px;
    margin: 2%;
  }

  .centrado-blockquote blockquote {
    font-size: 1.6rem;
  }

  .centrado-blockquote h4 {
    font-size: 0.9rem;
  }
}



/*********************************************
  Estilo flecha abajo (Desktop)
**********************************************/

/* Botón para scroll hacia abajo */
.scroll-down-arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer; 
  z-index: 10; 
}

/* Imagen dentro del botón */
.scroll-down-arrow img {
  width: 100%;
  height: auto;
  display: block; 
}

/* Efecto hover para escritorio */
.scroll-down-arrow:hover {
  transform: translateX(-50%) scale(2.5); 
}

/* Media query para tablet horizontal (768px) e inferiores */
@media (max-width: 767px) {
  .scroll-down-arrow {
    display: none;
  }

  .scroll-down-arrow img {
    display: none;
  }
}


/* Estilos para el botón de scroll hacia arriba */
.scroll-top svg {
  fill: #CD2E3A;
  cursor: pointer;
}




/********************************************
  Estilos específicos para la página de explora seúl
**********************************************/

/********************************************
  Imagen gif dentro de texto título
**********************************************/

.clipped-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: transparent;
  background-image: url("../img/tumblr_cbead511b250a0328f59d26a2febf727_fee8d347_500.gif");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media query para tablet horizontal (768px) y mayores */
@media (min-width: 768px) {
  div.explora-page {
    background-image: url("../img/header_explora_seul_amanecer_desk.webp");
    padding: 0 0;
    font-size: 2.5rem;
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.explora-page h1 {
    font-size: 2.4em;
    text-shadow:
      2px 2px 4px rgba(255, 255, 255, 1),
      -2px -2px 4px rgba(255, 255, 255, 1),
      2px -2px 4px rgba(255, 255, 255, 1),
      -2px 2px 4px rgba(255, 255, 255, 1);
  }

  .text-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

/* Media query para tablet horizontal (768px) e inferiores */
@media (max-width: 767px) {
  div.explora-page {
    background-image: url("../img/header_explora_seul_amanecer_mob.webp");
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 35% 2%;
    box-sizing: border-box;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
  }


  div.explora-page h1 {
    font-size: 1.5em;
    text-shadow:
      2px 2px 4px rgba(255, 255, 255, 1),
      -2px -2px 4px rgba(255, 255, 255, 1),
      2px -2px 4px rgba(255, 255, 255, 1),
      -2px 2px 4px rgba(255, 255, 255, 1);
  }

  .text-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .clipped-text {
    font-size: 20vw;
  }
}


/********************************************
  Estilos para el listado de explora
**********************************************/

.explora-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.explora {
  width: calc(50% - 40px);
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


/* Para móviles: 1 elemento por fila */
@media (max-width: 768px) {
  .explora {
    width: 100%;
    margin: 10px 0;
  }

  .explora img {
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

}


/********************************************
  Estilos para los botones de línias
**********************************************/

.seul-button {
  position: relative;
  padding: 15px 25px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  color: #CD2E3A;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  transition: all .3s;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  margin: 4% 1% 4% 1%;
}

.seul-button:before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: 0;
  bottom: 0;
  border: 1px solid #CD2E3A;
  transition: all .3s;
  z-index: -1;
}

.seul-button:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
  border: 1px solid #CD2E3A;
  transition: all .3s;
  z-index: -2;
}

.seul-button:hover {
  color: #CD2E3A;
}

.seul-button:hover:before {
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  border-width: 0;
}

.seul-button:hover:after {
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  border-width: 1px;
}

@media (max-width: 767px) {
  .seul-button {
    position: relative;
    padding: 5px 15px;
    font-size: 0.8rem;
    line-height: 1;
    margin: 1% 1% 1% 1%;
  }
}


/********************************************
  Estilos para el hover de la img de explora 
**********************************************/

/* Contenedor de la imagen */
.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Imagen */
.image-container img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

/* Superposición con el gradiente */
.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(205, 46, 58, 0.5) 0%, rgba(15, 100, 205, 0.5) 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Efecto de hover para la imagen */
.image-container:hover img {
  transform: scale(1.1);
}

/* Efecto de hover para la superposición */
.image-container:hover .overlay {
  opacity: 0.4;
}



/********************************************
  Estilos vídeo página explora 
**********************************************/

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding-bottom: 56.25%;
  margin: 20px auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/********************************************
  Estilos específicos para las páginas detalle 
**********************************************/

/********************************************
  Página detalle lugares de interés 
**********************************************/

.lugares-page {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .lugares-page {
    width: 98%;
  }

  .centrado {
    width: 100%;
  }

  .centrado article {
    width: 100%;
    margin: 0 auto;
  }

  div.lugares-page {
    background-image: url("../img/gwanghwamun-palacio-presentacion-lugares-mob.webp");
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 35% 2%;
    box-sizing: border-box;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
  }
}


/* Media query para tablet horizontal (768px) y mayores */
@media (min-width: 768px) {

  .centrado article {
    width: 80%;
    margin: 0 auto;
  }

  div.lugares-page {
    background-image: url("../img/gwanghwamun-palacio-presentacion-lugares-desk.webp");
    padding: 0 0;
    font-size: 2.5rem;
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


/* Estilos generales para .content-list */
.content-list {
  display: flex;
  flex-wrap: wrap;

}

/* Estilos para la versión de escritorio */
@media (min-width: 768px) {
  .content-list {
    flex-direction: row;
    max-width: 90%;
    gap: 20px;
    margin: 5px auto;
  }

  .content-list .image-column {
    width: 70%;
  }

  .content-list .text-column {
    width: 30%;
  }

  .content-list .image-column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

/* Estilos para la versión móvil */
@media (max-width: 767px) {
  .content-list {
    flex-direction: column;
    width: 98%;
  }

  .content-list .image-column,
  .content-list .text-column {
    width: 98%;
    text-align: center;
  }

  .content-list .image-column img {
    width: 98%;
    height: auto;
    border-radius: 8px;
  }
}


/********************************************
Página detalle cultura pop
**********************************************/


.cultura-page {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

/* Media query para tablet horizontal (768px) y mayores */
@media (min-width: 768px) {
  div.cultura-page {
    background-image: url("../img/cultura-pop-seul-portada-desk.webp");
    padding: 0 0;
    font-size: 2.5rem;
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Media query para tablet horizontal (768px) e inferiores */
@media (max-width: 767px) {
  div.cultura-page {
    background-image: url("../img/cultura-pop-seul-portada-mob.webp");
    background-size: cover;
    background-position: center;
    color: #0F64CD;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 35% 2%;
    box-sizing: border-box;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
  }
}

h2.text-red {
  color: #CD2E3A;
}



/* Carrusel página cultura pop*/
/* Estilos básicos del carrusel */
.carousel {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-item {
  display: none;
  text-align: center;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-item h4 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  font-size: 1.5rem;
}

/* Botones de navegación */

/* Botones de navegación */
button.carousel-btn  {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Mostrar solo el slide activo */
.carousel .active {
  display: block;
}





/********************************************
  Estilos página de enlaces
**********************************************/

section {
  width: 70%;
  margin-bottom: 40px;
}


@media (max-width: 767px) {
  section {
    width: 90%;
    margin-bottom: 40px;
  }
}

.links-page {
  padding: 0;
  text-align: left;
  list-style-type: none;
}



/********************************************
  Estilos página de enlaces para enlaces subrayados
**********************************************/

.links-page li {
  margin-bottom: 20px;
}

/* Estilos para los enlaces */
a.link-destacado {
  color: #0F64CD;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
  word-wrap: break-word;  
  overflow-wrap: break-word; 
  white-space: normal; 
}

/* Cuando el ancho es menor a 767px (versión móvil) */
@media (max-width: 767px) {
  a.link-destacado {
    word-break: break-all; 
    white-space: normal;
  }

  /* Asegura que los contenedores de los enlaces no desborden en móviles */
  .links-page li {
    margin-bottom: 20px;
    width: 100%; 
    word-wrap: break-word;
  }
}


/* Oscurecer el texto al hacer hover */
a.link-destacado:hover {
  color: #0F64CD;
}

/* Pseudo-elemento para la línea de subrayado */
a.link-destacado::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #CD2E3A, #d54c58, #e37a83);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

/* Animación de subrayado en hover */
a.link-destacado:hover::after {
  transform: scaleX(1);
}

/* Mejora del grosor del subrayado y efecto de "bolígrafo" */
a.link-destacado::after {
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



/********************************************
  Estilos para el botón de scroll top páginas interiores
**********************************************/
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.scroll-top:not(.hidden) {
  display: block;
  opacity: 1;
}

.hidden {
  display: none;

}


/********************************************
  Estilos específicos para la página presentación 
**********************************************/
.transition-button {
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #CD2E3A;
  background-color: #FFFFFF;
  border: 2px solid #CD2E3A;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.transition-button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 10px 2px;
}

.transition-button:hover::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #CD2E3A, #0F64CD, #CD2E3A);
  background-size: 200% 100%;
  animation: gradientMove 8s linear infinite;
  z-index: -1;
}

.button-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Animación del gradiente */
@keyframes gradientMove {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}


/********************************************
Clip path home PAC 2
**********************************************/

/* Contenedor que tiene la forma recortada */
.clip-image-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  clip-path: polygon(30% 0%, 70% 0%, 90% 50%, 70% 100%, 30% 100%, 10% 50%);
}

.clip-image-container h2 {
  color: black;
}

/* El contenido dentro del clip-path */
.clip-content {
  position: absolute;
  z-index: 10;
  text-align: center;
  padding: 20px;
  color: white;
  width: 100%;
}

.content-limited-width {
  width: 80%;
  margin: 0 auto;
}

/* La imagen de fondo dentro del clip-path */
.clip-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}