<!-- footer.html -->
<footer class="footer">
    <div class="container">
        <div class="logo-footer">
            <a href="../index.html"><img src="../assets/img/logo-footer.png" alt="Seul Logo"></a>
            <div>
                <p>2024 © PAC 1 html sobre la ciudad de Seúl</p>
                <p>Actividad realizada por Aránzazu Fernández</p>
            </div>
        </div>
        <nav id="footer-menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../pages/explora-seul.html">Explora Seúl</a></li>
                <li><a href="../pages/lugares-interes.html">Lugares de interés</a></li>
                <li><a href="../pages/cultura-pop.html">Cultura pop</a></li>
                <li><a href="../pages/presentacion.html">Presentación</a></li>
                <li><a href="../pages/links.html">Enlaces</a></li>
            </ul>
        </nav>
        <div class="contact">
            <ul>
                <li><a href="https://english.seoul.go.kr/" target="_blank">Sitio web oficial del Gobierno Metropolitano de Seúl</a></li>
                <li>Domestic: <a href="tel:02120">02-120</a> or <a href="tel:027312120">02-731-2120</a></li>
                <li>International: <a href="tel:+8227312120">+82-2-731-2120</a></li>
            </ul>
        </div>
    </div>
</footer>










